.rab-checkbox {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1;
  position: relative;
}
.rab-checkbox-focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  z-index: 1;
}
.rab-checkbox:hover .rab-checkbox-inner {
  border-color: #bcbcbc;
}
.rab-checkbox-inner {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #dcdee2;
  border-radius: 2px;
  background-color: #fff;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.rab-checkbox-inner:after {
  content: '';
  display: table;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 1px;
  left: 4px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0);
  transition: all 0.2s ease-in-out;
}
.rab-checkbox-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.rab-checkbox-input[disabled] {
  cursor: not-allowed;
}
.rab-checkbox-checked:hover .rab-checkbox-inner {
  border-color: #1890ff;
}
.rab-checkbox-checked .rab-checkbox-inner {
  border-color: #1890ff;
  background-color: #1890ff;
}
.rab-checkbox-checked .rab-checkbox-inner:after {
  content: '';
  display: table;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 5px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1);
  transition: all 0.2s ease-in-out;
}
.rab-checkbox-indeterminate .rab-checkbox-inner:after {
  content: '';
  width: 10px;
  height: 1px;
  transform: scale(1);
  position: absolute;
  left: 2px;
  top: 6px;
}
.rab-checkbox-indeterminate:hover .rab-checkbox-inner {
  border-color: #1890ff;
}
.rab-checkbox-indeterminate .rab-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}
.rab-checkbox-indeterminate[disabled] .rab-checkbox-inner {
  background-color: #f3f3f3;
  border-color: #dcdee2;
}
.rab-checkbox-indeterminate[disabled] .rab-checkbox-inner:after {
  border-color: #c5c8ce;
}
r-checkbox {
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  margin-right: 8px;
}
r-checkbox[disabled],
r-checkbox[disabled] .rab-checkbox {
  cursor: not-allowed;
}
r-checkbox[disabled] .rab-checkbox-checked:hover .rab-checkbox-inner {
  border-color: #dcdee2;
}
r-checkbox[disabled] .rab-checkbox-checked .rab-checkbox-inner {
  background-color: #f3f3f3;
  border-color: #dcdee2;
}
r-checkbox[disabled] .rab-checkbox-checked .rab-checkbox-inner:after {
  animation-name: none;
  border-color: #ccc;
}
r-checkbox[disabled] .rab-checkbox .rab-checkbox-inner {
  border-color: #dcdee2;
  background-color: #f3f3f3;
}
r-checkbox[disabled] .rab-checkbox .rab-checkbox-inner:after {
  animation-name: none;
}
r-checkbox[disabled] .rab-checkbox .rab-checkbox-inner-input {
  cursor: default;
}
r-checkbox[disabled] .rab-checkbox + span {
  color: #ccc;
  cursor: not-allowed;
}
r-checkbox[disabled] .rab-checkbox:hover .rab-checkbox-inner {
  border-color: #dcdee2;
}
r-checkbox[type='border'] {
  border: 1px solid #dcdee2;
  border-radius: 2px;
  height: 32px;
  line-height: 31px;
  padding: 0 15px;
  transition: border 0.2s ease-in-out;
}
r-checkbox[size='large'] {
  font-size: 16px;
}
r-checkbox[size='large'] .rab-checkbox-inner {
  width: 18px;
  height: 18px;
}
r-checkbox[size='large'] .rab-checkbox-inner:after {
  width: 5px;
  height: 9px;
}
r-checkbox[size='large'] .rab-checkbox-checked .rab-checkbox-inner:after {
  width: 6px;
  height: 10px;
}
r-checkbox[size='large'] .rab-checkbox-indeterminate .rab-checkbox-inner:after {
  width: 12px;
  top: 7px;
}
r-checkbox[size='small'] {
  font-size: 14px;
}
r-checkbox[size='small'] .rab-checkbox-inner {
  width: 14px;
  height: 14px;
}
r-checkbox[size='small'] .rab-checkbox-inner:after {
  top: 0;
  left: 3px;
}
r-checkbox[size='small'] .rab-checkbox-checked .rab-checkbox-inner:after {
  top: 1px;
  left: 4px;
}
r-checkbox[size='small'] .rab-checkbox-indeterminate .rab-checkbox-inner:after {
  width: 8px;
  top: 5px;
}
r-checkbox + span,
r-checkbox .rab-checkbox + span {
  margin-right: 4px;
}
.rab-checkbox-wrapper-checked[type='border'] {
  border-color: #1890ff;
}
r-checkbox-group {
  display: block;
  font-size: 14px;
}
r-checkbox-group r-checkbox {
  display: inline-block;
}
r-checkbox[size="small"][type='border'],
r-checkbox-group[size="small"] r-checkbox[type='border'] {
  height: 24px;
  line-height: 23px;
  padding: 0 7px;
}
r-checkbox[size="large"][type='border'],
r-checkbox-group[size="large"] r-checkbox[type='border'] {
  height: 40px;
  line-height: 37px;
  padding: 0 15px;
}
