@-webkit-keyframes rabTransitionDropIn {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes rabTransitionDropIn {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@-webkit-keyframes rabTransitionDropOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.8);
  }
}
@keyframes rabTransitionDropOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.8);
  }
}
@-webkit-keyframes rabSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes rabSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@-webkit-keyframes rabSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
@keyframes rabSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
@-webkit-keyframes rabSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes rabSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@-webkit-keyframes rabSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes rabSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@-webkit-keyframes rabSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}
@keyframes rabSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}
@-webkit-keyframes rabSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
}
@keyframes rabSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
}
@-webkit-keyframes rabSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
}
@keyframes rabSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
}
@-webkit-keyframes rabSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
}
@keyframes rabSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
}
.input-group-error-prepend,
.input-group-error-append {
  background-color: #fff;
  border: 1px solid #ff4d4f;
}
.input-group-error-prepend .rab-select-selection,
.input-group-error-append .rab-select-selection {
  background-color: inherit;
  border: 1px solid transparent;
}
.input-group-error-prepend {
  border-right: 0;
}
.input-group-error-append {
  border-left: 0;
}
r-select {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  color: #55585e;
  font-size: 14px;
  line-height: normal;
}
r-select ::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
r-select ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #dcdee2;
}
r-select ::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}
r-select[disabled] .rab-select-selection {
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  color: #ccc;
}
r-select[disabled] .rab-select-selection:hover {
  border-color: #e3e5e8;
}
r-select[disabled] .rab-select-selection .rab-select-arrow {
  color: #ccc;
}
r-select[disabled] .rab-select-selection:hover {
  border-color: #dcdee2;
  box-shadow: none;
}
r-select[disabled] .rab-select-selection:hover .rab-select-arrow {
  display: inline-block;
}
r-select .rab-select-dropdown {
  width: inherit;
  max-height: 220px;
  overflow: auto;
  margin: 5px 0;
  padding: 5px 0;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 900;
}
.rab-select-selection {
  display: block;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #dcdee2;
  transition: all 0.2s ease-in-out;
}
.rab-select-selection:hover,
.rab-select-selection-focused {
  border-color: #46a6ff;
}
.rab-select-selection:hover .rab-select-arrow,
.rab-select-selection-focused .rab-select-arrow {
  display: inline-block;
}
.rab-select-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1.5;
  transform: translateY(-50%);
  font-size: 14px;
  color: #808695;
  transition: all 0.2s ease-in-out;
}
.rab-select-visible .rab-select-selection {
  border-color: #46a6ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.rab-select-visible .rab-select-arrow {
  transform: translateY(-50%) rotate(180deg);
  display: inline-block;
}
.rab-select-single .rab-select-selection {
  height: 32px;
  position: relative;
}
.rab-select-single .rab-select-selection .rab-select-placeholder {
  color: #c5c8ce;
}
.rab-select-single .rab-select-selection .rab-select-placeholder,
.rab-select-single .rab-select-selection .rab-select-selected-value {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 24px;
}
.rab-select-large.rab-select-single .rab-select-selection {
  height: 40px;
}
.rab-select-large.rab-select-single .rab-select-selection .rab-select-placeholder,
.rab-select-large.rab-select-single .rab-select-selection .rab-select-selected-value {
  height: 38px;
  line-height: 38px;
  font-size: 16px;
}
.rab-select-small.rab-select-single .rab-select-selection {
  height: 24px;
  border-radius: 1px;
}
.rab-select-small.rab-select-single .rab-select-selection .rab-select-placeholder,
.rab-select-small.rab-select-single .rab-select-selection .rab-select-selected-value {
  height: 22px;
  line-height: 22px;
}
.rab-select-input {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 24px 0 8px;
  font-size: 14px;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: #55585e;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.rab-select-input::-moz-placeholder {
  color: #c5c8ce;
  opacity: 1;
}
.rab-select-input:-ms-input-placeholder {
  color: #c5c8ce;
}
.rab-select-input::-webkit-input-placeholder {
  color: #c5c8ce;
}
.rab-select-input[disabled] {
  cursor: not-allowed;
  color: #ccc;
  -webkit-text-fill-color: #ccc;
}
.rab-select-single .rab-select-input {
  width: 100%;
}
.rab-select-large .rab-select-input {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  top: 3px;
}
.rab-select-small .rab-select-input {
  height: 18px;
  line-height: 18px;
  top: 2px;
}
.rab-select-dropdown-list {
  min-width: 100%;
  list-style: none;
}
.rab-select-prefix {
  display: inline-block;
}
.rab-select-prefix i {
  position: relative;
  top: 2px;
}
.rab-select-head-with-prefix {
  display: inline-block !important;
  vertical-align: middle;
}
.rab-select-single .rab-select-prefix {
  padding-left: 4px;
}
.rab-select-single .rab-select-head-with-prefix {
  padding-left: 0 !important;
}
.rab-select-head-flex {
  display: flex;
  align-items: center;
}
r-select-option {
  display: block;
  margin: 0;
  line-height: normal;
  padding: 7px 16px;
  clear: both;
  color: #55585e;
  font-size: 14px !important;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
r-select-option:hover {
  background: #f3f3f3;
}
r-select-option[disabled] {
  color: #c5c8ce;
  cursor: not-allowed;
}
r-select-option[disabled]:hover {
  color: #c5c8ce;
  background-color: #fff;
  cursor: not-allowed;
}
r-select-option[selected],
r-select-option[selected]:hover {
  color: #1890ff;
  background: rgba(24, 144, 255, 0.1);
}
r-select-option[selected].rab-select-item-focus {
  background: rgba(21, 127, 225, 0.91);
}
r-select-option[divided] {
  margin-top: 5px;
  border-top: 1px solid #e8eaec;
}
r-select-option[divided]:before {
  content: '';
  height: 5px;
  display: block;
  margin: 0 -16px;
  background-color: #fff;
  position: relative;
  top: -7px;
}
.rab-select-item-focus {
  background: #f3f3f3;
}
.rab-select-item-enter {
  color: #1890ff;
  font-weight: bold;
  float: right;
}
.rab-select-large r-select-option {
  padding: 7px 16px 8px;
  font-size: 14px !important;
}
@-moz-document url-prefix() {
  r-select-option {
    white-space: normal;
  }
}
r-select-option-group {
  margin: 0;
  padding: 0;
  display: block;
}
r-select-option-group .rab-select-group-title {
  padding-left: 8px;
  font-size: 14px;
  color: #999;
  height: 30px;
  line-height: 30px;
}
