r-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 0;
  line-height: 1.5;
}
r-steps .rab-steps-head,
r-steps .rab-steps-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
r-steps .rab-steps-head {
  background: #fff;
}
r-steps .rab-steps-head-inner {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 24px;
  margin-right: 8px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}
r-steps .rab-steps-head-inner > .rab-steps-icon {
  position: relative;
  top: -3.5px;
}
r-steps .rab-steps-head-inner > .rab-steps-icon.rab-icon {
  font-size: 24px;
}
r-steps .rab-steps-head-inner > .rab-steps-icon.rab-icon-ios-checkmark-empty,
r-steps .rab-steps-head-inner > .rab-steps-icon.rab-icon-ios-close-empty {
  font-weight: bold;
}
r-steps .rab-steps-main {
  margin-top: 2.5px;
  display: inline;
}
r-steps .rab-steps-custom .rab-steps-title {
  margin-top: 2.5px;
}
r-steps .rab-steps-title {
  display: inline-block;
  margin-bottom: 4px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  background: #fff;
}
r-steps .rab-steps-title > a:first-child:last-child {
  color: #666;
}
r-steps .rab-steps-item-last .rab-steps-title {
  padding-right: 0;
  width: 100%;
}
r-steps .rab-steps-content {
  font-size: 12px;
  color: #999;
}
r-steps .rab-steps-tail {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 13px;
}
r-steps .rab-steps-tail > i {
  display: inline-block;
  width: 100%;
  height: 1px;
  vertical-align: top;
  background: #e8eaec;
  border-radius: 1px;
  position: relative;
}
r-steps .rab-steps-tail > i:after {
  content: '';
  width: 0;
  height: 100%;
  background: #e8eaec;
  opacity: 0;
  position: absolute;
  top: 0;
}
r-steps[size='small'] .rab-steps-head-inner {
  width: 18px;
  height: 18px;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}
r-steps[size='small'] .rab-steps-head-inner > .rab-steps-icon.rab-icon {
  font-size: 16px;
  top: -3px;
}
r-steps[size='small'] .rab-steps-main {
  margin-top: 0;
}
r-steps[size='small'] .rab-steps-title {
  margin-bottom: 4px;
  margin-top: 0;
  color: #666;
  font-size: 12px;
  font-weight: bold;
}
r-steps[size='small'] .rab-steps-content {
  font-size: 12px;
  color: #999;
  padding-left: 30px;
}
r-steps[size='small'] .rab-steps-tail {
  top: 8px;
  padding: 0 8px;
}
r-steps[size='small'] .rab-steps-tail > i {
  width: 100%;
  height: 1px;
  border-radius: 1px;
}
r-steps[size='small'] r-step .rab-steps-custom .rab-steps-head-inner,
r-steps r-step .rab-steps-custom .rab-steps-head-inner {
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
  border: 0;
  background: none;
}
r-step {
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
r-step:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: none;
}
r-step[status='wait'] .rab-steps-head-inner {
  background-color: #fff;
}
r-step[status='wait'] .rab-steps-head-inner > .rab-steps-icon,
r-step[status='wait'] .rab-steps-head-inner span {
  color: #ccc;
}
r-step[status='wait'] .rab-steps-title {
  color: #999;
}
r-step[status='wait'] .rab-steps-content {
  color: #999;
}
r-step[status='wait'] .rab-steps-tail > i {
  background-color: #e8eaec;
}
r-step[status='process'] .rab-steps-head-inner {
  border-color: #1890ff;
  background-color: #1890ff;
}
r-step[status='process'] .rab-steps-head-inner > .rab-steps-icon,
r-step[status='process'] .rab-steps-head-inner span {
  color: #fff;
}
r-step[status='process'] .rab-steps-title {
  color: #666;
}
r-step[status='process'] .rab-steps-content {
  color: #666;
}
r-step[status='process'] .rab-steps-tail > i {
  background-color: #e8eaec;
}
r-step[status='finish'] .rab-steps-head-inner {
  background-color: #fff;
  border-color: #1890ff;
}
r-step[status='finish'] .rab-steps-head-inner > .rab-steps-icon,
r-step[status='finish'] .rab-steps-head-inner span {
  color: #1890ff;
}
r-step[status='finish'] .rab-steps-tail > i::after {
  width: 100%;
  background: #1890ff;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
r-step[status='finish'] .rab-steps-title {
  color: #999;
}
r-step[status='finish'] .rab-steps-content {
  color: #999;
}
r-step[status='error'] .rab-steps-head-inner {
  color: #ff4d4f;
  background-color: #fff;
  border-color: #ff4d4f;
}
r-step[status='error'] .rab-steps-head-inner > .rab-steps-icon {
  color: #ff4d4f;
}
r-step[status='error'] .rab-steps-title {
  color: #ff4d4f;
}
r-step[status='error'] .rab-steps-content {
  color: #ff4d4f;
}
r-step[status='error'] .rab-steps-tail > i {
  background-color: #e8eaec;
}
r-step.rab-steps-next-error .rab-steps-tail > i,
r-step.rab-steps-next-error .rab-steps-tail > i:after {
  background-color: #ff4d4f;
}
r-step.rab-steps-custom .rab-steps-head-inner {
  background: none;
  border: 0;
  width: auto;
  height: auto;
}
r-step.rab-steps-custom .rab-steps-head-inner > .rab-steps-icon {
  font-size: 22px;
  top: 0;
  width: 22px;
  height: 22px;
}
r-step[status='process'].rab-steps-custom .rab-steps-head-inner > .rab-steps-icon {
  color: #1890ff;
}
r-step:last-child .rab-steps-tail {
  display: none;
}
r-steps[direction='vertical'] {
  display: block;
}
r-steps[direction='vertical'] r-step {
  display: block;
  overflow: visible;
}
r-steps[direction='vertical'] .rab-steps-tail {
  position: absolute;
  left: 13px;
  top: 0;
  width: 1px;
  height: 100%;
  padding: 30px 0 4px 0;
}
r-steps[direction='vertical'] .rab-steps-tail > i {
  width: 1px;
  height: 100%;
}
r-steps[direction='vertical'] .rab-steps-tail > i:after {
  width: 100%;
  height: 0;
}
r-steps[direction='vertical'][status='finish'] .rab-steps-tail > i:after {
  height: 100%;
}
r-steps[direction='vertical'] .rab-steps-head {
  float: left;
}
r-steps[direction='vertical'] .rab-steps-head-inner {
  margin-right: 16px;
}
r-steps[direction='vertical'] .rab-steps-main {
  min-height: 47px;
  overflow: hidden;
  display: block;
}
r-steps[direction='vertical'] .rab-steps-main .rab-steps-title {
  line-height: 26px;
}
r-steps[direction='vertical'] .rab-steps-main .rab-steps-content {
  padding-bottom: 12px;
  padding-left: 0;
}
r-steps[direction='vertical'] .rab-steps-custom .rab-steps-icon {
  left: 4px;
}
r-steps[direction='vertical'][size='small'] .rab-steps-custom .rab-steps-icon {
  left: 0;
}
r-steps[direction='vertical'][size='small'] .rab-steps-tail {
  position: absolute;
  left: 9px;
  top: 0;
  padding: 22px 0 4px 0;
}
r-steps[direction='vertical'][size='small'] .rab-steps-tail > i {
  height: 100%;
}
r-steps[direction='vertical'][size='small'] .rab-steps-title {
  line-height: 18px;
}
r-steps[direction='horizontal'].rab-steps-hidden {
  visibility: hidden;
}
r-steps[direction='horizontal'] .rab-steps-content {
  padding-left: 35px;
}
r-steps[direction='horizontal'] r-step:not(:first-child) .rab-steps-head {
  padding-left: 10px;
  margin-left: -10px;
}
