* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.el-header {
  background: #fff;
  color: #55585e;
  border-bottom: 1px solid #e8eaec;
}
.el-header .el-row {
  margin-bottom: 20px;
}
.el-header .el-row:last-child {
  margin-bottom: 0;
}
.el-header .logo-wrapper {
  display: inline-block;
  margin-bottom: 0;
}
.el-header .logo-wrapper #logo {
  height: 64px;
  overflow: hidden;
  color: #2c3e50;
  font-size: 18px;
  line-height: 64px;
  white-space: nowrap;
  padding-right: 16px;
  padding-left: 40px;
}
.el-header .logo-wrapper #logo img {
  position: relative;
  top: 11px;
  height: 36px;
  margin-right: 16px;
}
.el-header .g-icon {
  width: 15px;
  position: relative;
  top: -1px;
}
.el-footer {
  height: inherit !important;
  background: #475050;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}
.el-footer p {
  line-height: 1.7;
  margin: 8px 0;
}
.el-footer a {
  color: #fff;
}
.el-footer .social-icon {
  margin: 0 5px;
  font-size: 1.2rem;
}
