@import '../../../src/styles/custom.less';

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: @text-color;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        '微软雅黑', Arial, sans-serif;
}

a {
    color: @primary-color;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}

.markdown {
    font-size: 14px;
    line-height: 2;

    h1 {
        margin-top: 8px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    h3 {
        font-size: 18px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
        margin: 1em 0 0.6em;
        color: @text-color;
        font-weight: 500;
    }

    p {
        margin: 0.5em 0;
    }

    ul {
        padding-left: 40px;

        > li {
            list-style: circle;

            > p {
                margin: 0.2em 0;
            }
        }
    }

    .anchor {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: inline-block;
        }

        a {
            opacity: 0;
            font-size: 24px;
            transition: opacity 0.2s ease-in-out;
            margin-left: 5px;
            position: relative;
            top: 2px;
        }

        &:hover {
            a {
                opacity: 1;
            }
        }
    }
}

.example-code {
    .el-collapse {
        border-bottom: 0;

        &-item {
            &:last-child {
                border-bottom: 0;
            }

            &__header {
                border-bottom: 0;
            }

            &__arrow {
                margin: 0 auto !important;
            }

            &__wrap {
                border-bottom: 0;
            }
        }
    }

    .markdown-code {
        .code-write {
            .md-fences {
                margin: 0 !important;
                padding: 0 !important;
                border: 0 !important;
                background-color: #fff !important;
            }
        }
    }
}

@import '../../../dist/styles/rabbit.css';
@import './code.less';
